<div class="col-lg-6 col-md-6 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <h4 class="card-title">{{ titulo }}</h4>
            <p class="card-text">{{ texto }}</p>
            {% if colapsable %}
                <p>
                    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                        Más Información
                    </a>
                </p>
                <div class="collapse" id="collapse{{ forloop.counter }}">
                    <div class="card card-body">
                        {{ colapsable_texto }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{% url url %}" class="btn btn-primary">Ir a {{ titulo }}</a>
        </div>
    </div>
</div>
