{% extends 'core/base.html' %}
{% block title %}
    Registro de Instituciones
{% endblock title %}
{% block body_title %}
    {% if form.instance.pk %}
        Registro de Instituciones: Edición
    {% else %}
        Registro de Instituciones: Creación
    {% endif %}
{% endblock body_title %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Guardar</button>
    </form>
{% endblock content %}

