{% extends 'core/base.html' %}
{% block title %}
    Tus pacientes    
{% endblock title %}
{% block body_title %}
    Tu listado de pacientes
{% endblock body_title %}
{% block content %}
    <div class="pb-lg-3">
        <form action="{% url 'Tratamiento:lista_pacientes' %}"" method="get">
            <input type="text" name="busqueda" placeholder="Buscar...">
        </form>
    </div>

    <ul>
        {% for pac in paciente %}
            <li>
                {{ pac.nombre }}
                <a href="{% url 'Tratamiento:paciente_detalles' producto.id %}">Detalle</a>
                <a href="{% url 'Tratamiento:paciente_form' producto.id %}">Cambiar</a>
                <a href="{% url 'Tratamiento:paciente_confirm_delete' producto.id %}">Borrar</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}