{% extends 'core/base.html' %}
{% block title %}
    Registro de Pacientes
{% endblock title %}
{% block body_title %}
    {% if form.instance.id %}
        Registro de Pacientes: Edición
    {% else %}
        Registro de Pacientes: Creación
    {% endif %}
{% endblock body_title %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'Tratamiento:index' %}">Volver al menú de Tratamiento</a>
{% endblock content %}

