{% extends 'core/base.html' %}
{% block title %}
    Pacientes | Pacientes Registrados
{% endblock title %}
{% block body_title %}
    Pacientes Registrados: Detalle
{% endblock body_title %}
{% block content %}
    <ul>
        <li>Nombre: {{ paciente.nombre }}</li>
        <li>Teléfono: {{ paciente.telefono }}</li>
        <li>email: {{ paciente.email }}</li>
        <li>Dirección: {{ paciente.direccion }}</li>
        <li>Profesional: {{ paciente.profesional }}</li>
        <li>Institución: {{ paciente.institucion }}</li>
        <li>Número de historia clínica: {{ paciente.numero_historia_clinica }}</li>
    </ul>
    <div>
        <a href="{% url 'Tratamiento:lista_pacientes' %}">Volver</a>
    </div>
{% endblock content %}
