{% extends 'core/base.html' %}
{% block title %}
    Pacientes | Pacientes Registrados
{% endblock title %}
{% block body_title %}
    Pacientes Registrados: Eliminar
{% endblock body_title %}
{% block content %}

    <p class="fs-5  fst-italic ">¿Confirma eliminar "{{ object.nombre }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
    </form>
    <a href="{% url 'Tratamiento:index' %}">Volver al menú de Tratamiento</a>
{% endblock content %}

