{% extends 'core/base.html' %}
{% block title %}
    Pacientes | Pacientes Registrados
{% endblock title %}
{% block body_title %}
    Pacientes Registrados: Detalle
{% endblock body_title %}
{% block content %}
    <ul>
        <li>Nombre: {{ Paciente.nombre }}</li>
        <li>Teléfono: {{ Paciente.telefono }}</li>
        <li>email: {{ Paciente.email }}</li>
        <li>Dirección: {{ Paciente.direccion }}</li>
        <li>Profesional: {{ Paciente.profesional }}</li>
        <li>Institución: {{ Paciente.institucion }}</li>
        <li>Número de historia clínica: {{ Paciente.numero_historia_clinica }}</li>
    </ul>
    <div>
        <a href="{% url 'Tratamiento:lista_pacientes' %}">Volver</a>
    </div>
{% endblock content %}
