{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Porque Psi 
{% endblock title %}

{% block body_title %}
{% endblock body_title %}

{% block content %}

    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        
        {% if user.is_authenticated %}
            <p class="text-info ">¡Bienvenido {{ user.username | title }}!</p>
        {% endif %}
        
        <!-- Mensaje para cuando un usuario sea creado -->
        {% if mensaje %}
            <p class="text-info ">{{ mensaje }} ¡Bienvenido!</p>
        {% endif %}

        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                    src="{% static 'core/img/cerebro.webp' %}" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Porque Psi</h1>
                <p>Sabemos que la práctica clínica es difícil y requiere mucho trabajo administrativo. Esta App te asiste en cada paso de tu trabajo</p>
                <a class="btn btn-primary" href="https://wa.me/541162414032" target="_blank">Whatsapp</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <h2 class="text-white m-0">Nuestras soluciones</h2>
            </div>
        </div>
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-6 mb-4">
                {% with nota_sesion_url='Tratamiento:nota_de_sesion_form' %}
                    {% include 'core/components/card.html' with titulo='Nota de Sesión' texto='Registra notas detalladas de las sesiones con tus pacientes.' colapsable=True colapsable_texto='Una sección donde puedes registrar notas detalladas sobre las sesiones con tus pacientes. Esto te ayudará a llevar un registro claro de los detalles importantes discutidos durante las sesiones.' url=nota_sesion_url %}
                {% endwith %}
            </div>
            <div class="col-lg-6 mb-4">
                {% with objetivo_tratamiento_url='Tratamiento:objetivo_de_tratamiento_form' %}
                    {% include 'core/components/card.html' with titulo='Objetivo de Tratamiento' texto='Establece objetivos claros y medibles para tus tratamientos.' colapsable=True colapsable_texto='Una sección donde puedes establecer objetivos claros y medibles para tus tratamientos. Esto te ayudará a tener un enfoque claro en tus intervenciones y a medir el progreso de tus pacientes.' url=objetivo_tratamiento_url %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                {% with estadisticas_url='Tratamiento:estadisticas' %}
                    {% include 'core/components/card.html' with titulo='Estadísticas de Consultas' texto='Accede a estadísticas detalladas sobre tu práctica profesional.' colapsable=True colapsable_texto='Una sección donde los profesionales pueden ver estadísticas sobre su práctica, como la frecuencia de ciertos tipos de consultas, la demografía de los pacientes, etc. Esto podría ayudarles a comprender mejor su práctica y tomar decisiones informadas.' url=estadisticas_url %}
                {% endwith %}
            </div>
            <div class="col-lg-6 mb-4">
                {% with recordatorios_url='notificaciones:lista_recordatorios' %}
                    {% include 'core/components/card.html' with titulo='Recordatorios y Notificaciones' texto='Gestiona tus recordatorios y notificaciones para citas y seguimientos.' colapsable=True colapsable_texto='Integra un sistema de recordatorios y notificaciones para que los profesionales puedan recordar citas pendientes, fechas de seguimiento, etc. Esto podría hacerse mediante correo electrónico, mensajes de texto o notificaciones dentro de la aplicación.' url=recordatorios_url %}
                {% endwith %}
            </div>
        </div>
        
           
    {% endblock content %}
