{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Porque Psi 
{% endblock title %}

{% block body_title %}
{% endblock body_title %}

{% block content %}

    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        
        {% if user.is_authenticated %}
            <p class="text-info ">¡Bienvenido {{ user.username | title }}!</p>
        {% endif %}
        
        <!-- Mensaje para cuando un usuario sea creado -->
        {% if mensaje %}
            <p class="text-info ">{{ mensaje }} ¡Bienvenido!</p>
        {% endif %}

        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                    src="{% static 'core/img/cerebro.webp' %}" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Porque Psi</h1>
                <p>Sabemos que la práctica clínica es difícil y requiere mucho trabajo administrativo. Esta App te asiste en cada paso de tu trabajo</p>
                <a class="btn btn-primary" href="https://wa.me/541162414032" target="_blank">Whatsapp</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <h2 class="text-white m-0">Nuestras soluciones</h2>
            </div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            {% include 'core/components/card.html' with titulo="Estadísticas de Consultas" texto="Accedé a las estadísticas de consultas" url=estadisticas %}
            {% include 'core/components/card.html' with titulo="Solución 2" texto="Solución 2" %}
            {% include 'core/components/card.html' with titulo="Solución 3" texto="Solución 3" %}
        </div>
    </div>
    
{% endblock content %}